authorized_dataset_on_curated = "<replace-with-your-dataset-id>"
location                      = "europe-west8"
prefix                        = "demo"
project_id                    = "<replace-with-your-project-id>"
impersonate_service_account   = "<replace-with-service-account>"
composer_project_id           = "<replace-with-domain-shared-project-id>"
