# skip boilerplate check

# allow-other-probes-untrusted-example:
#   description: "Allow traffic from other probes"
#   direction: INGRESS
#   action: allow
#   sources: []
#   ranges:
#     - $onprem_probes
#   targets: []
#   use_service_accounts: false
#   rules:
#     - protocol: tcp
#       ports:
#         - 12345
