# skip boilerplate check
---
# start of document (---) avoids errors if the file only contains comments

# yaml-language-server: $schema=../../../../schemas/vpc.schema.json

project_id: $project_ids:net-core-0
name: dmz
delete_default_routes_on_create: true
mtu: 1500
routers:
  vpn-router:
    region: $locations:primary
    asn: 64514
    custom_advertise:
      ip_ranges:
        "10.0.0.0/8": "rfc1918-10"
        "172.16.0.0/12": "rfc1918-172"
        "192.168.0.0/16": "rfc1918-192"
nat_config:
  nat-ew8:
    region: europe-west1
routes:
  rfc1918-10:
    dest_range: "10.0.0.0/8"
    priority: 100
    next_hop_type: ilb
    next_hop: $addresses:dmz/main
  rfc1918-172:
    dest_range: "172.16.0.0/12"
    priority: 100
    next_hop_type: ilb
    next_hop: $addresses:dmz/main
  rfc1918-192:
    dest_range: "192.168.0.0/16"
    priority: 100
    next_hop_type: ilb
    next_hop: $addresses:dmz/main
  internet:
    dest_range: "0.0.0.0/0"
    priority: 100
    next_hop_type: "gateway"
    next_hop: "default-internet-gateway"
