**/.terraform
**/terraform.tfstate*
**/terraform.tfvars
**/.terraform.tfstate.lock.info
!tests/**/terraform.tfvars
**/__pycache__
**/.pytest_cache
.idea
.vscode
backend.tf
backend-config.hcl
credentials.json
key.json
