# skip boilerplate check

# [opt] Billing account id - overrides default if set
#billing_account_id: 012345-67890A-BCDEF0

# [opt] Contacts for billing alerts and important notifications
#essential_contacts:
#  - user@company.org

# Folder: 
folder_id: folders/999999999999

# [opt] Authoritative IAM bindings in group => [roles] format
group_iam:
  gcp-ml-eng@company.org:
    - roles/aiplatform.admin
    - roles/bigquery.dataEditor
    - roles/bigquery.jobUser
    - roles/bigquery.user
    - roles/dataflow.developer
    - roles/dataflow.worker
    - roles/iam.serviceAccountUser
    - roles/logging.logWriter
    - roles/logging.viewer
    - roles/serviceusage.serviceUsageConsumer
    - roles/storage.admin

# [opt] Service account to create for the project and their roles on the project
# in name => [roles] format
# serviceUsageConsumer required for Cloud Build
# https://cloud.google.com/build/docs/securing-builds/configure-access-to-resources#granting_permissions_to_run_gcloud_commands

service_accounts:                      
  sa-mlops-prd:
     - roles/aiplatform.user
     - roles/bigquery.dataEditor
     - roles/bigquery.jobUser
     - roles/bigquery.user
     - roles/cloudbuild.builds.editor
     - roles/dataflow.developer
     - roles/dataflow.worker
     - roles/iam.serviceAccountUser
     - roles/monitoring.metricWriter
     - roles/serviceusage.serviceUsageConsumer
     - roles/source.reader
     - roles/storage.admin

# [opt] IAM bindings on the service account resources.
# in name => {role => [members]} format
#service_accounts_iam:


# [opt] Authoritative IAM bindings in role => [principals] format
# Generally used to grant roles to service accounts external to the project

# [opt] Labels for the project - merged with the ones defined in defaults
labels:

# [opt] APIs to enable on the project.
services:
    - aiplatform.googleapis.com
    - artifactregistry.googleapis.com
    - bigquery.googleapis.com
    - compute.googleapis.com
    - datacatalog.googleapis.com
    - dataflow.googleapis.com
    - iam.googleapis.com
    - monitoring.googleapis.com
    - servicenetworking.googleapis.com

buckets:
  creditcards-prd:
    region: EU

datasets:
  creditcards:
    region: EU

vpc_local:
  name: default
  subnets:
    - name: default
      region: europe-west1
      ip_cidr_range: 10.1.0.0/24
      secondary_ip_range: 
    - name: default
      region: europe-west4
      ip_cidr_range: 10.4.0.0/24
      secondary_ip_range:
  psa_config_ranges:
    vertex: 10.13.0.0/18  #Used for Vertex Training peering 
  