project_create = {
  billing_account_id = "011D94-9C86C1-ADD197"
  parent             = "folders/586929298360"
}
project_id = "g-prj-cd-sb-apigee-bq-10"
envgroups = {
  test = ["test.cool-demos.space"]
}
environments = {
  apis-test = {
    envgroups = ["test"]
  }
}
instances = {
  instance-ew1 = {
    region            = "europe-west1"
    environments      = ["apis-test"]
    psa_ip_cidr_range = "10.0.4.0/22"
  }
}
psc_config = {
  europe-west1 = "10.0.0.0/28"
}