gitlab_config = {
  access_token = "glpat-XXXXXXXXXXXXXXXXXXXXXXXX"
  hostname = "gitlab.com"
  ssh_port = 22
  saas_group = "XXX" # Replace with path GitLab group
}

modules_config = {
  project_name = "modules"
  key_config = {
    create_key     = true
    create_secrets = true
  }
  group = "shared"
}
projects = {
  fast_0_org_setup = {
    create_options = {
      description = "FAST org setup."
      features = {
        issues = true
      }
    }
    group            = "org-admins"
    populate_from    = "../../stages/0-org-setup"
    populate_samples = true
    workflow_file    = "org-setup-workflow.yaml"
  }
}
groups = {
  org-admins = {
    name        = "gcp-org-admins"
    path        = "gcp-org-admins"
    description = "GCP Organization administrators"
  }
}