location = "europe-west1"

central_project_config = {
  iam_by_principals = {
    dp-platform = [
      "roles/datacatalog.categoryAdmin",
      "roles/dataplex.catalogAdmin",
      "roles/dataplex.aspectTypeOwner",
      "roles/resourcemanager.tagViewer"
    ]
    dp-domain-a = [
      "roles/datacatalog.viewer",
      "roles/dataplex.aspectTypeUser"
    ]
    dp-product-a-0 = [
      "roles/datacatalog.viewer",
      "roles/dataplex.aspectTypeUser"
    ]
  }
}

factories_config = {
  context = {
    iam_principals = {
      dp-platform      = "group:dp-platform-0@example.com"
      dp-domain-a      = "group:dp-domain-a@example.com"
      dp-product-a-0   = "group:dp-product-a-0@example.com"
      data-consumer-bi = "group:data-consumer-bi@example.com"
    }
  }
  aspect_types = "data/aspect-types"
  data_domains = "data/data-domains"
}
