# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Set the values of the variables used in this Terraform configuration, 
# based on your requirements.

# IP CIDR ranges for the subnets.
ip_ranges = {
  hub     = "10.0.0.0/24"
  spoke-1 = "10.0.16.0/24"
  spoke-2 = "10.0.32.0/24"
}

# Secondary IP CIDR ranges.
ip_secondary_ranges = {
  spoke-2-pods     = "10.128.0.0/18"
  spoke-2-services = "172.16.0.0/24"
}

# Arbitrary string to be used as a prefix for resource names.
prefix = "dev"

# Private service IP CIDR ranges.
private_service_ranges = {
  spoke-2-cluster-1 = "192.168.0.0/28"
}

# If Terrafrom should create a new project and deploy the resources in the
# new project, uncomment the "project_create" block, and set the following:
# - billing_account: The ID of the billing account associated with the project.
# - oslogin: Set to true to enable OS login for the VMs.
# - parent: Set to "organizations/<organization_id>" or "folders/<folder_id>".

#project_create = {
#  billing_account = "ABCDEF-ABCDEF-ABCDEF"
#  oslogin         = false
#  parent          = "organizations/111122223333"
#}

# ID of an existing or new project to be used for all the resources.
project_id = "my-project"

# Region where the resources should be provisioned.
region = "us-central1"
