# skip boilerplate check

# [opt] project id, uses basename(filename) if not specified. Prefix
# is automatically added
id: project-x
# [opt] project name, uses project id if not specified
descriptive_name: Project X


# [opt] Billing account id
# billing_account_id: 012345-67890A-BCDEF0

# [opt] Contacts for billing alerts and important notifications
contacts:
  - project-x-admins@

# Folder the project will be created as children of
# TODO: can use teams:xxx or teams:xx:dev/prod
parent: folders/012345678901

# [opt] Authoritative IAM bindings in group => [roles] format
group_iam:
  project-x-admins@:
    - roles/compute.admin

# [opt] Authoritative IAM bindings in role => [principals] format
# Generally used to grant roles to service accounts external to the project
iam:
  roles/compute.admin:
    - user:project-x-user1@

# [opt] Labels for the project - merged with the ones defined in defaults
labels:
  costcenter: project-x

tag_bindings:
  environment: environment/development

# [opt] Org policy overrides defined at project level
org_policies:
  compute.vmExternalIpAccess:
    rules:
      - deny:
          all: true

# [opt] APIs to enable on the project.
services:
  - storage.googleapis.com
  - stackdriver.googleapis.com
  - compute.googleapis.com
  - container.googleapis.com

# [opt] Shared VPC configuration
vpc:
  # Host project the project will be service project of
  # TODO: can use fast:dev-spoke-0, fast:prod-spoke-0, fast:prod-landing
  host_project: fast:dev-spoke-0

  # [opt] Subnets in the host project where principals will be granted networkUser
  # in region/subnet-name => [principals]
  subnets_iam:
    europe-west1/dev-default-ew1:
      - user:project-x-admins@

  # Permissions to grant to service identities
  service_identity_iam:
    roles/compute.networkUser:
      - container-engine
      - cloudservices
    roles/container.hostServiceAgentUser:
      - container-engine
