# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# yaml-language-server: $schema=../../../../schemas/custom-constraint.schema.json

custom.cloudrunDisableEnvironmentVariablePattern:
  action_type: DENY
  condition: |-
    resource.spec.template.spec.containers.exists(container,
      container.env.exists(env,
        ["[sS][eE][cC][rR][eE][tT]", "[kK][eE][yY]", "[pP][aA][sS][sS][wW][oO][rR][dD]", "[tT][oO][kK][eE][nN]"].exists(
          pattern, env.name.matches(pattern)
        )
      )
    )
  description: Enforce that certain patterns are not used in environment variables
    of Cloud Run Service or Cloud Run Functions
  display_name: Disable usage of certain patterns in Cloud Run Service or Cloud Run
    Functions environment variables
  method_types:
  - CREATE
  - UPDATE
  resource_types:
  - run.googleapis.com/Service
